.form-section {
    display: flex;
    justify-content: center;
    margin: 80px 40px;
    gap: 40px;
    flex-wrap: wrap;
}

.form-section form {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 24px 48px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
}

.form-section h2 {
    font-size: 20px;
    padding-top: 10px;
}

.form-company {
    width: 20%;
}

.form-card {
    width: 40%;
}

@media screen and (max-width: 900px) {
    .form-section {
        margin: 10px 0;
    }
    .form-section form {
        width: 70%;
        height: 100%
    }
}